<div class="details-container">
    {{#with blog}}
    <div class="details-container-image">
        <img src="{{image}}">
    </div>
    <div class="details-container-info">
        <h2>{{title}}</h2>
        <h3>{{category}}</h3>
        <h3>By: {{owner}}</h3>
        <!--If there are followers-->
        {{#if followers}}
        <h4>Follow By: {{followers}}</h4>
        <!--If there are no followers-->
        {{else}}
        <h4>There are no followers yet!</h4>
        {{/if}}
    </div>
    <div class="details-container-content">
        <p>{{content}}</p>
    </div>
    <div class="btn-container">
        <!-- Only for registered user and creator of the blog post-->
        {{#if isOwner}}
        <a href="/blogs/{{_id}}/edit">Edit</a>
        <a href="/blogs/{{_id}}/delete">Delete</a>
        {{else}}
            {{#if hasFollowed}}
            <!-- logged in user who has already followed the blog-->
            <p class="follow-pub">You already follow this blog!</p>
            {{else}}
                {{#if isUser}}
                <!-- logged in user who has not yet followed the blog-->
                <a href="/blogs/{{_id}}/follow">Follow</a>
                {{/if}}
            {{/if}}
        {{/if}}
    </div>
    {{/with}}
</div>